<%= form_for(@lifecycle_phase_deliverable) do |f| %>
  <% if @lifecycle_phase_deliverable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lifecycle_phase_deliverable.errors.count, "error") %> prohibited this lifecycle_phase_deliverable from being saved:</h2>

      <ul>
      <% @lifecycle_phase_deliverable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uom_id %>
    <%= select(:lifecycle_phase_deliverable, :uom_id, Uom.all.collect {|u| [ u.name, u.id ] }, {},{:id => "edit_lifecycle_phase_deliverable_uom_id"}) %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
