<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lifecycle_phase_deliverable.description %>
</p>

<p>
  <b>Type:</b>
  <% if @type %>
    <%= @type.name %>
  <% end %>
</p>

<p>
  <b>Uom:</b>
  <% if @uom %>
    <%= @uom.name %>
  <% end %>
</p>

<p>
  <b>Lifecycle phase:</b>
  <% if @lifecycle_phase %>
    <%= @lifecycle_phase.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_lifecycle_phase_deliverable_path(@lifecycle_phase_deliverable), :id => "edit-deliverable-link" %> |
<%= link_to 'Destroy', @lifecycle_phase_deliverable, :confirm => 'Are you sure?', :method => :delete %>
