<div id="new-dialog">
  <%= render 'new_form' %>
</div>

<a href="#" id="new-project">New Project</a>



<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Lifecycle:</b>
  <%= @project.lifecycle_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= javascript_include_tag 'show-project' %>