<div class="object-navigation">
  Project: <%= collection_select :project, :id, @projects, :id, :name, {}, {:id => "project-select"} %>
  &nbsp;&nbsp;
  <a href="#" id="new-project">New Project</a>
</div>

<hr/>
<div class="object-actions">
  <a href="#" id="edit-project">Edit</a>
  <%= link_to 'Back', projects_path %>
</div>
<div class="object-info">
  <p>
    <b>Name:</b>
    <%= @project.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @project.description %>
  </p>

  <p>
    <b>Lifecycle:</b>
    <%= @project.lifecycle_name %>
  </p>
</div>

<b>Phases:</b>
<div class="object-details" id="notaccordion">
  <% if @project.project_phases.count > 0 %>
      <ul id="phases">
        <% @project.project_phases.each do |phase| %>
            <li id="phase_<%= phase.id %>"><h3><a href="#"><%= phase.name %></a></h3>
              <div>

                <table class="deliverables">
                  <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Type
                    </th>
                    <th>
                      Complexity
                    </th>
                    <th>
                      Estimated Effort
                    </th>
                    <th>
                      Actual Effort
                    </th>
                    <th>

                    </th>
                  </tr>
                  </thead>
                  <tbody>

                  <% phase.project_phase_deliverables.each do |deliverable| %>
                      <tr id="deliverable_<%= deliverable.id %>">
                        <td>
                          <%= deliverable.name %>
                        </td>
                        <td>
                          <%= deliverable.deliverable_type.name %>
                        </td>
                        <td>
                          <%= deliverable.complexity_str %>
                        </td>
                        <td>
                          <% #deliverable.estimated_effort %>
                        </td>
                        <td>
                          <% #deliverable.actual_effort %>
                        </td>
                        <td>
                          <%= link_to_function "Show", "show_deliverable_dialog(#{deliverable.id})" %>
                        </td>
                      </tr>
                  <% end %>

                  </tbody>
                </table>

                <a href="#" class="new-deliverable">New Deliverable</a>
              </div>
            </li>
        <% end %>
      </ul>
  <% else %>
      No phases are defined for this project.
  <% end %>
  <br />
  <a href="#" id="new-phase">New Project Phase</a>
  <br /><br />
  <%# link_to "Add Phase", new_project_phase_path %>
</div>

<div id="new-dialog">
  <%= render 'new_form' %>
</div>
<div id="edit-dialog">
  <%= render 'form' %>
</div>
<div id="new-phase-dialog">
  <%= render 'project_phases/new_project_phase' %>
</div>

<div id="new-deliverable-dialog">
  <%= render 'project_phase_deliverables/new_deliverable' %>
</div>

<div id="view-deliverable-dialog">
    <div id="view-deliverable-dialog-content"></div>
</div>
<div id="edit-deliverable-dialog">
    <div id="edit-deliverable-dialog-content"></div>
</div>

<%= javascript_include_tag 'show-project' %>
