<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "devise"}) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <br/>
  <div class="devise-actions">
      <% if devise_mapping.rememberable? -%>
        <div class="remember_me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>
      <br/>
      <br/>
      <div><%= f.submit "Sign in" %></div>
    <% end %>
    <br/>
    <%= render :partial => "devise/shared/links" %>
  </div>