<%= form_for(@new_project_phase_deliverable,:html => {:class => "deliverable_form"}) do |f| %>
  <% if @new_project_phase_deliverable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_project_phase_deliverable.errors.count, "error") %> prohibited this project_phase_deliverable from being saved:</h2>

      <ul>
      <% @new_project_phase_deliverable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :deliverable_type_id %><br/>
    <%= select(:project_phase_deliverable, :deliverable_type_id, DeliverableType.all.collect {|dt| [ dt.name, dt.id ] }, {:include_blank => "Ad-Hoc"}) %>
  </div>
  <div class="field">
    <%= f.label :uom_id %><br />
    <%= select(:project_phase_deliverable, :uom_id, Uom.all.collect {|u| [ u.name, u.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :complexity %><br />
    <%= select(:project_phase_deliverable, :complexity, LifecyclePhaseDeliverable::COMPLEXITY.collect.with_index {|c,i| [c, i+1]}) %>
  </div>
  <div class="field">
    <%= f.label :estimated_size %><br />
    <%= f.text_field :estimated_size %>
    <%= content_tag(:span, Uom.all.first.name.downcase, :id => "size_uom") %>
  </div>
  <div class="field">
    <%= f.label :production_rate %><br />
    <%= f.text_field :production_rate %>
    hours /
    <%= content_tag(:span, Uom.all.first.name.singularize.downcase, :id => "size_uom_singular")  %>
  </div>
  <div class="field">
    <%= button_to_function "Calculate", "calculate_effort()", :class => "ok" %>
  </div>
  <div class="field">
    <%= f.label :total_effort %><br />
    <%= f.text_field :total_effort %>
    hours
  </div>
  <div class="field">
    <%= f.label :project_phase %><br />
    <%= f.text_field :project_phase, :id=> "phase_name", :disabled => true %>
  </div>
  <div class="field">
    <%= f.hidden_field :project_phase_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :position, :id => "deliverable_position" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_include_tag 'project_phase_deliverables/_new_deliverable' %>
