<%= form_for(@new_project_phase_deliverable,:html => {:class => "deliverable_form"}) do |f| %>
  <% if @new_project_phase_deliverable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_project_phase_deliverable.errors.count, "error") %> prohibited this project_phase_deliverable from being saved:</h2>

      <ul>
      <% @new_project_phase_deliverable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 23 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :deliverable_type_id %><br/>
    <%= select(:project_phase_deliverable, :deliverable_type_id, DeliverableType.all.collect {|dt| [ dt.name, dt.id ] }, {:include_blank => "Ad-Hoc"}) %>
  </div>
  <div class="field">
    <%= f.label :uom_id %><br />
    <%= select(:project_phase_deliverable, :uom_id, Uom.all.collect {|u| [ u.name, u.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :complexity %><br />
    <%= select(:project_phase_deliverable, :complexity, LifecyclePhaseDeliverable::COMPLEXITY.collect.with_index {|c,i| [c, i+1]}) %>
  </div>
  <div class="field">
    <%= f.label :estimated_size %><br />
    &nbsp;&nbsp; <%= f.text_field :estimated_size, :size => 15 %>
    <%= content_tag(:span, Uom.all.first.blank?? "nil": Uom.all.first.name.downcase, :id => "size_uom") %>
  </div>
  <div class="field">
    <%= f.label :production_rate %><br />
    X <%= f.text_field :production_rate, :size => 15 %>
    hours /
    <%= content_tag(:span, Uom.all.first.blank?? "nil": Uom.all.first.name.singularize.downcase, :id => "size_uom_singular")  %>
  </div>
  <hr style="height:0; border: 1px solid black; width:40%;"/>
  <div class="field">
    <%= f.label :total_effort %><br />
    = <%= f.text_field :total_effort, :size => 15%>
    hours
  </div>
  <div class="field">
    <%= button_to_function "Calculate", "calculate_effort(this)", :class => "ok" %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :project_phase %><br />
    <%= f.text_field :project_phase, :id=> "phase_name", :disabled => true %>
  </div>
  <div class="field">
    <%= f.hidden_field :project_phase_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :position, :id => "deliverable_position" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div id="historical-data" class="historical-data">
    <table>
        <thead>
          <tr>
            <th colspan="3">
                   Historical Data
            </th>
          </tr>
        </thead>
        <tbody>
        <% if !@historical_data.blank? %>
            <% [:estimated_size,:production_rate,:total_effort].each do |attr| %>
            <tr>
              <td>Min</td>
              <td>Avg</td>
              <td>Max</td>
            </tr>
            <tr>
              <td><%= @historical_data[attr][:min]%></td>
              <td><%= @historical_data[attr][:avg]%></td>
              <td><%= @historical_data[attr][:max]%></td>
            </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="3">
                Not available for Ad-Hoc Deliverables
              </td>
            </tr>
        <% end %>
        </tbody>
    </table>
  </div>
<% end %>

<%= javascript_include_tag 'project_phase_deliverables/_new_deliverable' %>
