<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project_phase_deliverable.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project_phase_deliverable.description %>
</p>

<p>
  <b>Deliverable type:</b>
  <%= @project_phase_deliverable.deliverable_type.name unless @project_phase_deliverable.deliverable_type.blank? %>
</p>

<p>
  <b>Uom:</b>
  <%= @project_phase_deliverable.uom.name unless @project_phase_deliverable.uom.blank? %>
</p>

<p>
  <b>Complexity:</b>
  <%= LifecyclePhaseDeliverable::COMPLEXITY[@project_phase_deliverable.complexity] unless @project_phase_deliverable.complexity.blank? %>
</p>

<p>
  <b>Estimated size:</b>
  <%= @project_phase_deliverable.estimated_size %>
</p>

<p>
  <b>Production rate:</b>
  <%= @project_phase_deliverable.production_rate %>
</p>

<p>
  <b>Total effort:</b>
  <%= @project_phase_deliverable.total_effort %>
</p>

<p>
  <b>Project phase:</b>
  <%= @project_phase_deliverable.project_phase.name unless @project_phase_deliverable.project_phase.blank? %>
</p>

<% if (!@project_phase_deliverable.has_effort_log?) %>
<%= link_to 'Edit', edit_project_phase_deliverable_path(@project_phase_deliverable), :id => "edit-deliverable-link" %> |
<%= link_to 'Destroy', @project_phase_deliverable, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
