<div class="object-navigation">
  Lifecycle: <%= collection_select :lifecycle, :id, @lifecycles, :id, :name, {}, {:id => "lifecycle-select"} %>
  &nbsp;&nbsp;
  <a href="#" id="new-lifecycle">New Lifecycle</a>
</div>

<hr/>
<div class="object-actions">
  <a href="#" id="edit-lifecycle">Edit</a>
  <%= link_to 'Back', lifecycles_path %>
</div>

<p>
  <b>Name:</b>
  <%= @lifecycle.name %>
</p>

<p>
  <b>Description:</b>
  <%= @lifecycle.description %>
</p>




<b>Phases:</b>
<div class="object-details" id="notaccordion">
  <% if @lifecycle.lifecycle_phases.count > 0 %>
      <ul id="phases">
        <% @lifecycle.lifecycle_phases.each do |phase| %>
            <li id="phase_<%= phase.id %>"><h3><a href="#"><%= phase.name %></a></h3>
              <div>

                <table class="deliverables">
                  <thead>
                  <tr>

                    <th style="width:20%;">
                      Type
                    </th>
                    <th style="width:50%;">
                      Unit of measurement
                    </th>
                    <th></th>
                    <th></th>

                  </tr>
                  </thead>
                  <tbody>

                  <% phase.lifecycle_phase_deliverables.each do |deliverable| %>
                      <tr id="deliverable_<%= deliverable.id %>">
                        <td>
                          <% if deliverable and deliverable.deliverable_type %>
                            <%= deliverable.deliverable_type.name %>
                          <% end %>
                        </td>

                        <td>
                          <%= deliverable.uom.name %>
                        </td>
                        <td>
                          <%= link_to_function "Show", "show_deliverable_dialog(#{deliverable.id})" %>
                        </td>
                        <td>
                          <%= link_to_function "Edit", "edit_deliverable_dialog(#{deliverable.id})" %>
                        </td>
                      </tr>
                  <% end %>

                  </tbody>
                </table>
                <%= link_to_function "Show Phase Details", "show_phase_dialog(#{phase.id})" %> |
                <a href="#" class="new-deliverable">New Deliverable</a>
              </div>
            </li>
        <% end %>
      </ul>
  <% else %>
      No phases are defined for this project.
  <% end %>
  <br />
  <a href="#" id="new-phase">New Lifecycle Phase</a>
</div>


<div id="new-dialog">
  <%= render 'new_form' %>
</div>
<div id="edit-dialog">
  <%= render 'form' %>
</div>

<div id="new-phase-dialog">
  <%= render 'lifecycle_phases/form' %>
</div>

<div id="view-phase-dialog">
    <div id="view-phase-dialog-content"></div>
</div>
<div id="edit-phase-dialog">
    <div id="edit-phase-dialog-content"></div>
</div>
<div id="view-deliverable-dialog">
    <div id="view-deliverable-dialog-content"></div>
</div>
<div id="edit-deliverable-dialog">
    <div id="edit-deliverable-dialog-content"></div>
</div>


<%= javascript_include_tag 'show-lifecycle' %>
