<h3>Recent deliverables</h3>

<table>
  <tr>
    <th>Project</th>
    <th>Phase</th>
    <th>Deliverable</th>
    <th>Effort</th>
    <th></th>
  </tr>

<% if !@recent_deliverables.blank? %>
    <% @recent_deliverables.each do |deliverable| %>
      <tr>
        <td><%= deliverable.project_phase.project.name %></td>
        <td><%= deliverable.project_phase.name %></td>
        <td><%= deliverable.name %></td>
        <td><%= deliverable.total_logged_effort %></td>
        <td><%= link_to 'New Effort log', new_effort_log_path %></td>
      </tr>
    <% end %>
<% end %>
</table>

<br />
