<h1>Listing effort_logs</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Effort</th>
    <th>Interrupt time</th>
    <th>Comments</th>
    <th>Project phase deliverable</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @effort_logs.each do |effort_log| %>
  <tr>
    <td><%= effort_log.date %></td>
    <td><%= effort_log.effort %></td>
    <td><%= effort_log.interrupt_time %></td>
    <td><%= effort_log.comments %></td>
    <td><%= effort_log.project_phase_deliverable_id %></td>
    <td><%= effort_log.user_id %></td>
    <td><%= link_to 'Show', effort_log %></td>
    <td><%= link_to 'Edit', edit_effort_log_path(effort_log) %></td>
    <td><%= link_to 'Destroy', effort_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Effort log', new_effort_log_path %>
