<%= form_for(@lifecycle_phase) do |f| %>
  <% if @lifecycle_phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lifecycle_phase.errors.count, "error") %> prohibited this lifecycle_phase from being saved:</h2>

      <ul>
      <% @lifecycle_phase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :lifecycle_id %><br />
    <%= f.text_field :lifecycle_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
