<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lifecycle_phase.name %>
</p>

<p>
  <b>Description:</b>
  <%= @lifecycle_phase.description %>
</p>

<p>
  <b>Lifecycle:</b>
  <%= @lifecycle_phase.lifecycle.name %>
</p>


<%= link_to 'Edit', edit_lifecycle_phase_path(@lifecycle_phase), :id => "edit-phase-link" %> |
<%= link_to 'Destroy', @lifecycle_phase, :confirm => 'Are you sure?', :method => :delete %>
