<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project_phase.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project_phase.description %>
</p>

<p>
  <b>Project:</b>
  <%= @project_phase.project.name %>
</p>


<%= link_to 'Edit', edit_project_phase_path(@project_phase), :id => "edit-phase-link" %> |
<%= link_to 'Destroy', @project_phase, :confirm => 'Are you sure?', :method => :delete %>
