<h2>Send invitation</h2>

<%= form_for @user, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :role %><br />

  <%
    if current_user.role == 'admin' then
  %>

    <%= select(:user, :role, User::ROLES)  %>

  <% else %>

    <%= select(:user, :role, User::REDUCED_ROLES)  %>

  <% end %>

  </p>

  <p><%= f.submit "Send an invitation" %></p>
<% end %>

<%= link_to "Home", after_sign_in_path_for(resource_name) %><br />
