<!DOCTYPE html>
<html style="background:#000;">
<head>
  <title>PET</title>
  <%= render "layouts/stylesheets" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="header" class="container-fluid">
        <%= link_to image_tag("logo.png"), root_path %>
        <%= user_signed_in?? "Welcome, "+current_user.email: link_to('Sign In', new_user_session_path) %>
        <%= user_signed_in?? link_to('Logout', destroy_user_session_path, :method => :delete):"" %>
    </div>
    <div id="container" class="container-fluid">
      <div id="sidebar" class="sidebar">
	<ul class="tabs">
	  <li <%= controller_name == 'lifecycles'? "class='active'": "" %> >
            <a href="/lifecycles">Lifecycle Management</a>
	  </li>
	  <li <%= controller_name == 'projects'?"class='active'":"" %> >
            <a href="/projects">Project Management</a>
	  </li>
	  <li <%= controller_name == 'effort_logs'? "class='active'":"" %> >
            <a href="/effort_logs"">Effort Logging</a>
	  </li>
      </div>
      <div id="content" class="content">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <p class="error"><%= flash[:error] %></p>
          <%= yield %>
      </div>
    </div>
    <div id="footer" class="container-fluid">
      P.E.T. &copy; 2011
    </div>
</body>
</html>
